{% extends 'base.html.twig' %}

{% block title %}New track{% endblock %}

{% block body %}
    <h1>Create new track</h1>

    {{ include('web/track/_form.html.twig') }}

    <a href="{{ path('app_web_track_index') }}">back to list</a>
{% endblock %}
